{% extends 'base.html' %}

{% block title %}Helpful Info{% endblock %}

{% block content %}
<br />
<div class="container mt-5">
    <div class="row">
      <!-- Tips -->
      <div class="col-md-6">
        <div class="tip-card">
          <h4>Setting Up Your Workspace</h4>
          <p>Designate a dedicated workspace and invest in ergonomic furniture and good lighting.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tip-card">
          <h4>Time Management</h4>
          <p>Set a schedule, use productivity tools, and take breaks for better time management.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tip-card">
          <h4>Communication and Collaboration</h4>
          <p>Foster effective communication, schedule check-ins, and engage in virtual socializing.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tip-card">
          <h4>Distraction Management</h4>
          <p>Use noise-canceling headphones, set boundaries, and use website blockers to stay focused.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tip-card">
          <h4>Self-care and Well-being</h4>
          <p>Get dressed for work, exercise regularly, practice mindfulness, and take breaks.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tip-card">
          <h4>Security and Technical Considerations</h4>
          <p>Use secure networks, backup data, and keep software updated for security.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tip-card">
          <h4>Continuous Learning</h4>
          <p>Take online courses, read, research, and seek feedback for continuous improvement.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tip-card">
          <h4>Boundaries and Disconnecting</h4>
          <p>Set clear boundaries, log off from work-related apps, and create end-of-day rituals.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}