{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

    <!-- Hero Section -->
    <br/>
    <div class="container-fluid bg-blue text-white py-5">
        <div class="container text-center">
            <h1 class="display-4">Welcome to Remindful</h1>
            <p class="lead">A Flexible Working Community</p>
        </div>
    </div>

    <!-- Community Section -->
    <div class="container py-5 bg-green">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Our Community</h2>
                <p class="text-muted">We understand the challenges of remote work. Join our community of individuals who support each other in staying healthy and happy while working from home.</p>
            </div>
        </div>
    </div>

    <!-- Call to Action Section -->
    <div class="container-fluid bg-light py-5">
        <div class="container text-center">
            <h2 class="section-heading">Join Us</h2>
            <p class="text-muted">Let's tackle stress, improve our well-being, and build a sense of belonging. Will you be a part of our community?</p>
            <a class="btn btn-primary btn-lg" href="#">Join Now</a>
        </div>
    </div>

{% endblock %}